<div class="title">
  <% if @manufacturer.image.present? %>
    <h1><%= image_tag @manufacturer.image.variant(resize_to_limit:[100, 100]) %> <%= @manufacturer.manufacturer_name %></h1>
  <% else %>
    <h1><%= @manufacturer.manufacturer_name %></h1>
  <% end %>
</div>

  <h2 class="mb-3">Models:</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @carModel.each do |car_model| %>
      <div class="col">
        <div class="card h-100">
            <%= image_tag 'coming-soon.jpg', class: "card-img-top", alt: "Coming soon" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to car_model.car_model_name, car_model %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
