<header class="bg-dark py-2">
  <div class="container px-4 px-lg-5 my-4">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-lg-6">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Explore Our Vehicles</h1>
          <p class="lead fw-normal text-white-50 mb-0">Discover a wide range of vehicles to suit your needs.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag('nissan-removebg.png', alt: 'Nissan Vehicle', class: 'img-fluid rounded-start') %>
      </div>
    </div>
  </div>
</header>

<!-- Vehicle Section -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @vehicles.each do |vehicle| %>
        <div class="col mb-5">
          <div class="card h-100">
            <%= link_to vehicle_path(vehicle) do %>
              <%= image_tag vehicle.image.variant(resize_to_limit:[269, 269]) %>
            <% end %>
            <!-- Vehicle details placerholder -->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Vehicle name placeholder -->
                <h5 class="fw-bolder"><%= vehicle.vehicle_name %></h5>
                <!-- Vehicle price placeholder-->
                <%= number_to_currency(vehicle.vehicle_price, precision: 0) %>
              </div>
            </div>
            <!-- Vehicle actions placeholder -->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><%= link_to 'View Details', vehicle_path(vehicle), class: 'btn btn-outline-dark mt-auto' %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
