<% @vehicles.each do |v| %>
  <h1 class="mb-4"><%= image_tag v.image.variant(resize_to_limit:[100, 100]) %> <%= v.vehicle_name %></h1>
  <p>PRICE: $<%= v.vehicle_price %></p>
  <p>VIN: <%= v.vin_identification %></p>
  <p>Year: <%= v.vehicle_year %></p>

<% end %>
