
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1><%= @vehicle.vehicle_name %></h1>
    </div>
    <div class="card-body">
      <p><strong>Year:</strong> <%= @vehicle.vehicle_year %></p>
      <p><strong>Price:</strong> <%= number_to_currency(@vehicle.vehicle_price) %></p>
      <p><strong>VIN:</strong> <%= @vehicle.vin_identification %></p>
      <p><strong>Color:</strong> <%= @vehicle.color.color_name %></p>
      <p><strong>Fuel Type:</strong> <%= @vehicle.fuel.fuel_name %></p>
      <p><strong>Type:</strong> <%= @vehicle.type.type_name %></p>
      <% if cart.include?(@vehicle) %>
        <%= button_to cart_path(@vehicle), method: :delete do %>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with  url: cart_index_path, method: :post do %>
          <%= hidden_field_tag(:id, @vehicle.id) %>
          <%= button_tag '+ Add to Cart' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

