<div class="footer-container">
  <div class="container footer-content text-center">
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "About", about_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "Car Models", car_models_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "Contact Us", contact_path, class: "nav-link" %></li>
    </ul>
    <p class="mb-0">&copy; <%= Time.current.year %> La Voiture Inc. All rights reserved.</p>
  </div>
</div>
