
  <div class="container text-center">
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "About", abouts_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "Car Models", car_models_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "Vehicles", vehicles_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to "Contact Us", contacts_path, class: "nav-link" %></li>
    </ul>
    <p class="mb-0 text-dark">&copy; <%= Time.current.year %> La Voiture Inc. All rights reserved.</p>
  </div>

