<div class="container mt-5">
  <h1 class="fw-bold mb-4">Car Models</h1>

  <div class="mb-3">
    <p class="lead">
     Use the buttons below to filter car models alphabetically or by numbers.
      Click on a letter or 'All' to view car models starting with that letter. Click 'All Numbers' to see car models with numbers.
    </p>

    <div class="btn-group" role="group" aria-label="Filter by Letter">
      <a href="<%= car_models_path %>" class="btn <%= 'active' unless params[:letter].present? %>">All</a>
      <% ('A'..'Z').each do |letter| %>
        <a href="<%= car_models_path(letter: letter) %>" class="btn <%= 'active' if params[:letter] == letter %>"><%= letter %></a>
      <% end %>
    </div>

    <div class="btn-group" role="group" aria-label="Filter by Number">
      <a href="<%= car_models_path(number: '0-9') %>" class="btn <%= 'active' if params[:number] == '0-9' %>">All Numbers</a>
    </div>
  </div>

  <% if @no_entries_message %>
    <div class="alert alert-warning">
      <%= @no_entries_message %>
    </div>
  <% end %>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @car_models.each do |car_model| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <% if car_model.image.present? %>
              <h5 class="card-title"><%= link_to car_model.car_model_name, car_model, class: 'text-decoration-none text-dark' %> *</h5>
            <% else %>
              <h5 class="card-title"><%= link_to car_model.car_model_name, car_model, class: 'text-decoration-none text-dark' %></h5>
            <% end %>
            <p class="card-text">Some description about the car model.<%= car_model.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-3">
    <%= paginate @car_models %>
  </div>
</div>
